<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<%= form_tag do %>

      <%= label_tag :name, 'Name:' %>
      <%= text_field_tag :name, params[:name] %>

      <%= label_tag :description, 'description:' %>
      <%= text_field_tag :description, params[:description] %>

      <%= label_tag :price, 'price:' %>
      <%= text_field_tag :price, params[:price], rows: 5, cols: 50 %>

      <%= submit_tag "search" %>

<% end %>
